/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    background: radial-gradient(circle at center, #122441 0%, #0b1222 100%);
    overflow-x: hidden;
    overflow-y: auto;
}

body.no-scroll {
    overflow: hidden;
    height: 100vh;
}

h1 {
    color: #f0f0f0;
    text-shadow: 6px 6px 4px #000;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

h2 {
    color: #e0e0e0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    font-size: 20px;
}

h3 {
    color: #e0e0e0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #e0e0e0;
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 1.6;
}

ul {
    color: #e0e0e0;
}

a {
    color: #A7EBF2;
}


/* Header Style */
header {
    background-color: #101518;
    border-bottom: 3px solid #2d3747;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.acesso-inicio {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.links {
    display: center;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    cursor: pointer;
}

.links a:hover {
    color: #f0f0f0;
    text-decoration-color: #039930;
    transform: translateY(-8px);
    box-shadow: 0 2px 0px #039930;
}

/* Homepage */
    /* Homepage Photo */
.foto-container {
    width: 450px;
    height: 450px;
    perspective: 1000px;
}

.foto-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform-style: preserve-3d;
}

.foto-container:hover .foto-inner {
    transform: rotateY(180deg);
}

.foto-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    backface-visibility: hidden;
}

.foto-verso {
    transform: rotateY(180deg);
}

    /* Main Container Configuration */
main {
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
    align-items: flex-start;
}

.apresentacao__conteudo {
    margin-top: 100px;
    font-size: 3.2rem;
}

.botao_contato {
    background-color: #02591c;
    padding: 10px;
    font-size: 15px;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 3.0s ease, box-shadow 0.3s ease;
}

.botao_contato:hover {
    background-color: #046e24;
    box-shadow: 0px 5px 5px #000;
}

/* "About" Page */

.container-flex {
    width: 500px;
    height: 200px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}


    /* Estado/País -Sobre- */
.localizacao {
    text-align: center;
}

.localizacao::before {
    content: "-------------------  "
}

.localizacao::after {
    content: "  -------------------";
}


/* Cards */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: auto;
    width: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: auto;
    width: 100%;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    width: 180px;
    padding: 25px 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px #0000001a;
    transition: transform 3.0s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.card img {
    width: 60px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 18px;
    color: #333;
}

.card h3 {
    font-size: 18px;
    color: #333;
}

/* Hover Effect */
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card.html:hover {
    border-left: 5px solid #e44d26;
    box-shadow: 0 0 10px #e44d26;
}

.card.css:hover {
    border-left: 5px solid #264de4;
    box-shadow: 0 0 10px #264de4;
}

.card.js:hover {
    border-left: 5px solid #f0db4f;
    box-shadow: 0 0 10px #f0db4f;
}

.card.git:hover {
    border-left: 5px solid #f34f29;
    box-shadow: 0 0 10px #f34f29;
}

.card.chrome:hover {
    border-left: 5px solid #ff0000;
    box-shadow: 0 0 10px #ff0000;
}

.card.vercel:hover {
    border-left: 5px solid #000;
    box-shadow: 0 0 10px #000;
}

.card.github:hover {
    border-left: 5px solid #1b1b1b;
    box-shadow: 0 0 10px #1b1b1b;
}

.card.linkedin:hover {
    border-left: 5px solid #0A66C2;
    box-shadow: 0 0 10px #0A66C2;
}

.card.whatsapp:hover {
    border-left: 5px solid #25d366;
    box-shadow: 0 0 10px #25d366;
}


/* Media Query for Smartphones and Tablets (screen up to 600px) */
@media (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: 1px solid red !important; /* temporary command: delete before push */
    }

    .links {
        width: 100%;
        padding: 20px;
        flex-direction: column;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 15px;
    }

    .card {
        width: 140px;
        padding: 20px 10px;
    }

    .card img {
        width: 50px;
    }

    .card h3 {
        font-size: 16px;
    }
}